@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

body {
  color: #272343;
  background-size: 40px 40px;
  background-image: linear-gradient(to right, grey 1px, transparent 1px),
    linear-gradient(to bottom, grey 1px, transparent 1px);
}

.goHome {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  padding: 2rem;
  height: 40%;
  width: 30%;
  border: 1px dashed rgba(0, 0, 0, 0.53);
  background-color: rgb(255, 255, 255);
  border-radius: 20px;
  box-shadow: 10px 10px rgba(0, 0, 0, 0.53);
}

.children {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  height: 100vh;
  width: 80vw;
  background-color: white;
  border-left: 2px dashed black;
  border-right: 2px dashed black;

  box-shadow: 6px 0px rgba(0, 0, 0, 0.53);
}

.postBox {
  /* border: 1px solid black; */
  margin: 1rem;
  background-color: rgb(255, 194, 203);
  min-width: 50vw;
}

.postList {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.page {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20%;

  border: 1px solid black;
}

.mainBox {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  height: 100vh;
  width: 100vw;
}

.individualPostBox {
  background-color: rgb(255, 194, 203);
  box-shadow: 10px 10px rgba(0, 0, 0, 0.53);
  border-radius: 20px;
  padding: 2rem;
  min-width: 50vw;
}

.postBodyBox {
  background-color: white;
  box-shadow: 10px 10px rgba(0, 0, 0, 0.53);
  padding: 2rem;
  border-radius: 20px;
}

.commentListBox {
  border-radius: 2rem;
  background-color: white;
  box-shadow: 10px 10px rgba(0, 0, 0, 0.53);
  border-top: 1px solid black;
  border-left: 1px solid black;
  padding: 2rem;
}
